/*
* @Author: WHX
* @Date:   2018-08-30 22:38:17
* @Last Modified by:   WHX
* @Last Modified time: 2018-09-06 22:25:10
*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
body{
	background: #212121;
}
/* 公共样式  小小屏 col-xs- <768px */
nav{
	width: 100%;
	/* height: 100px; */
	background: #212121;
}
nav .con{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
nav .con .head{
	display: flex;
	justify-content: center;
	align-items: center;
}
nav .con .head img{
	display: block;
}
nav .con .list a{
	height: 100%;
	color: #fff;
	font-size: 18px;
	line-height: 100px;
	margin-left: 15px;
}
nav .con .list a:hover{
	color: red;
	text-decoration: none;
}
nav .con .list a.list-text{
	display: none;
}
nav .con .list i{
	font-size: 48px;
	color: #fff;
}
/* 顶部结束 */


/* banner开始 */
.banner img{
	width: 100%;
}
/* banner结束 */

/* 位置开始 */
.location p{
	color: #999999;
	/* margin-left: 10px; */
}
.location a{
	color: #999999;
}
.location a:hover{
	color: red;
	text-decoration: none;
}
/* 位置结束 */

/* 照片开始 */

main ul{
	margin-top: 10px;
	height: 100%;
}
main ul li{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 10px;
	overflow: hidden;
}
main ul li .pic{
	width: 100%;
	height: 100%;
}
main ul li .pic img{
	display: block;
	width: 100%;
}
main ul li .title{
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}
main ul li p{
	font-size: 16px;
	color: #666;
	line-height: 40px;
}
main ul li .icon{
	float: right;
	width: 35px;
	height: 35px;
	border-radius: 35px;
	background: #212121;
	
}
main ul li .iconfont{
	font-size: 28px;
	color: #666;	
}
main li:hover{
	box-shadow: 0 0 10px 5px #101010;
}
main li:hover .pic{
	/* border: 1px solid red; */
}
main li:hover p{
	color:#fff;
}
main li:hover .iconfont{
	color:#fff;
	/* line-height: 40px; */
	text-align: center;
	margin-left: 2px;
}
main li:hover .icon{
	width: 35px;
	height: 35px;
	border-radius: 35px;
	background: red;
}
/* 照片结束 */

/* 下一页开始 */
.num ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.num ul li{
	/* width: 30px; */
	height: 30px;
	padding: 12px;
	margin-right: 10px;
}
.num ul li p{
	color: #666;
	text-align: center;
	line-height: 9px;
}
.num ul li:hover{
	background: red;
}
.num ul li:hover p{
	color: #fff;
}
/* 下一页结束 */


/* 底部开始 */
footer{
	width:100%;
	height: 100%;
	border-top: 1px solid #484848;
	background: #101010;
}
.foot{
	width:100%;
	height: 100%;
	
}
.foot h3{
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	border-top: 1px dashed #484848;
	color: #999999;
	margin: 0px;
	padding: 15px 0;
}
.foot h3:nth-child(2){
	margin: 0 15px;
	font-size: 14px;
}
.foot h3:nth-child(3){
	margin: 0 30px;
	font-size: 12px;
}
.foot h3:nth-child(4){
	margin: 0 50px;
	font-size: 10px;
}
.foot h3:nth-child(5){
	margin: 0 70px;
	font-size: 10px;
}
.foot h3:nth-child(6){
	margin: 0 70px;
	font-size: 10px;
}
.foot p{
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	color: #999999;
	margin: 0px;
	padding: 60px 0 20px;
}
footer ul {
	display: flex;
	justify-content: center;

}
/* 底部结束 */


/* 平板：小屏幕：col-sm-  >768px */
@media screen and (min-width: 768px){
	nav .con .list a.list-text{
		display: inline;
	}
	nav .con .list a.list-icon{
		display: none;
	}
	main .container{
		padding-left: 5px;
		padding-right: 5px;
		width: 1200px;
	}

}

/* 普通PC端：中屏幕：col-md- >992px */
@media screen and (min-width:992px){
	.foot h3{
		font-size: 18px;
		line-height: 20px;
		margin: 0 270px;
	}
	.foot h3:nth-child(2){
		margin: 0 210px;
		font-size: 18px;
	}
	.foot h3:nth-child(3){
		margin: 0 260px;
		font-size: 16px;
	}
	.foot h3:nth-child(4){
		margin: 0 290px;
		font-size: 12px;
	}
	.foot h3:nth-child(5){
		margin: 0 340px;
		font-size: 12px;
	}
	.foot h3:nth-child(6){
		margin: 0 340px;
		font-size: 10px;
	}
	.foot p{
		text-align: center;
		font-size: 18px;
		line-height: 20px;
		color: #999999;
		margin: 0 120px;
		padding: 60px 0 20px;
	}
}

/* 大屏幕PC端：col-lg- >1200px */
@media screen and (min-width:1200px){
	.foot h3{
		font-size: 18px;
		line-height: 20px;
		margin: 0 270px;
	}
	.foot h3:nth-child(2){
		margin: 0 270px;
		font-size: 18px;
	}
	.foot h3:nth-child(3){
		margin: 0 310px;
		font-size: 14px;
	}
	.foot h3:nth-child(4){
		margin: 0 370px;
		font-size: 12px;
	}
	.foot h3:nth-child(5){
		margin: 0 370px;
		font-size: 12px;
	}
	.foot h3:nth-child(6){
		margin: 0 370px;
		font-size: 10px;
	}
	.foot p{
		text-align: center;
		font-size: 18px;
		line-height: 20px;
		color: #999999;
		margin: 0 120px;
		padding: 60px 0 20px;
	}
}